<style>
    body {
      width: 100%;
      font-size: 16px;
      margin: 0;
      padding: 0;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   } 


   .id1 {
      border: double 6px rgb(66, 64, 64);
       outline: solid 2px rgb(68, 64, 64);
       margin: 50px; 
       margin-top:40px;
       min-height: 60vh;
       padding-left: 20px;
       padding-right: 20px;
       box-sizing: border-box;
  }
 
   #p1 input[type="text"] {
       border: none;
       background: none;
       outline: none;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       position: absolute;
       /* width: 70%; */
   }

   table {
      
       width: 100%;
       border: 1px solid black;
       border-collapse: collapse;
       margin-top: 20px; 
       /* box-sizing: border-box; */
   }

   th, td {
      
       border: 1px solid black;
       padding: 8px;
   }

   td input[type="text"] {
       border: none;
       background: none;
       outline: none;
       white-space: nowrap;
       overflow: hidden;
   }

   .form-input {
   width: 0%;
   padding: 0.5px;
   margin-left: 20px;
   border: 0.5px solid #fff8f8;
   /* border: 1px solid #c4bcbc; */
   outline:none;
   border-radius: 5px;
   margin-bottom: 6px;
 }

   hr {
       border-color: black;
       margin-bottom: 20%;
   }
    
   #p2 input[type="text"] {
      border: none;
       background: none;
       outline: none;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       position: absolute;
       /* width: 70%; */
   }

   #p2 p input[type="text"] {
      border: none;
       background: none;
       outline: none;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       position: absolute;
       /* width: 70%; */
   }

   #nk{
           border: none;
           outline: none;
           font-size: 15px;
       }

       #b1 a{
       position: relative;
           left: 48%;
           text-decoration: none;
           border: 2px double rgb(100, 97, 97);
           border-radius: 3px;
           padding-left: 9px;
           padding-right: 9px;
        }
        #b1 #b2{
       position: relative;
           left: 48%;
           text-decoration: none;
           border: 2px double rgb(100, 97, 97);
           border-radius: 3px;
           padding-left: 9px;
           padding-right: 9px;
        } 

        .image-container {
 position: relative;
 display: inline-block;
 margin-top: 10px ;
 left:69%;

}
.remove-button {
 position: absolute;
 top: 2px;
 right: 2px;
 cursor: pointer;
 color: rgb(219, 34, 34);
 font-weight: bold;
 font-size: 14px;
 background: rgb(209, 83, 83);
 border-radius: 50%;
 /* padding: 2px; */
 opacity: 0; /* Initially hidden */
 transition: opacity 0.3s; 
}

.remove-button:hover {
 opacity: 1; /* Visible on hover */
}

.form-input {
 width: 20%;
 /* Add other styles for the file input if needed */
}
</style>

<body>
   <div class="id1">
       <form action="" [formGroup]="formData" (ngSubmit)="onSubmit()">
       <div id="p1">
           <p><b>Any issue / concerned expressed by client / Family:</b></p>
           <!-- <b>1</b><input type="text" placeholder=" "><br><br> -->
           <label for="use_of_other_drugs" style="display: inline-block; vertical-align: top;"><b>1</b></label>
           <textarea class="form-input" style="width: 90%; vertical-align: top;" name="issue1" formControlName="issue1"></textarea>
           <br>
           <label for="use_of_other_drugs" style="display: inline-block; vertical-align: top;"><b>2</b></label>
           <textarea class="form-input" style="width: 90%; vertical-align: top;" name="issue2" formControlName="issue2"></textarea>
           <br>
           <label for="use_of_other_drugs" style="display: inline-block; vertical-align: top;"><b>3</b></label>
           <textarea class="form-input" style="width: 90%; vertical-align: top;" name="issue3" formControlName="issue3"></textarea>
           <br>

           <label for="use_of_other_drugs" style="display: inline-block; vertical-align: top;"><b>4</b></label>
           <textarea class="form-input" style="width: 90%; vertical-align: top;" name="issue4" formControlName="issue4"></textarea>

        
           <p><b>Impression of Intake counsellor: </b>
            <select name="impression" id="impression" class="form-input" style="margin-left:58px;" formControlName="impression">
                <option value="neutral">Neutral</option>
                <option value="good">Good</option>
                <option value="poor">Poor</option>
              </select>           
        </p>
           <p><b>Action taken: </b>
               <input type="radio" placeholder=" " maxlength="20" name="actionTaken" formControlName="actionTaken" value="Admitted"> Admitted
               <input type="radio" placeholder=" " maxlength="20" name="actionTaken" formControlName="actionTaken" value="Given later Date"> Given later Date
               <input type="radio" placeholder=" " maxlength="20" name="actionTaken" formControlName="actionTaken" value="Referral"> Referral
               <input type="radio" placeholder=" " maxlength="20" name="actionTaken" formControlName="actionTaken" value="Denied Admission"> Denied Admission
             </p>
           <p style="position:relative;left: 30%;"><b>Address: </b><input type="text" placeholder="" name="address" formControlName="address"></p>
       </div>
       <hr>

       <div id="p2">
           <table>
               <th colspan="4" style="text-align: left;">Contact Phone Numbers:</th>
               <tr>
                   <th> </th>
                   <th>Number</th>
                   <th>Name</th>
                   <th>Relation</th>
               </tr>
               <tr formGroupName="mobNo1">
                   <td><b>Mob No.1</b></td>
                   <td><input type="text" placeholder="" maxlength="10" name="number" formControlName="number" pattern="[0-9]*"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"></td>

                   <td><input type="text" placeholder="" maxlength="20" name="name" formControlName="name" pattern="[A-Za-z ]*"
                    onkeydown="return /[a-zA-Z ]/i.test(event.key)"></td>
                   <select placeholder="" name="relation" formControlName="relation" style="width: 100%; height: 30px;">
                    <option value="">Select Relation</option>
                    <option value="father">Father</option>
                    <option value="Mother">Mother</option>
                    <option value="brother">Brother</option>
                    <option value="sister">Sister</option>
                    <option value="Grandparent">Grandparent</option>
                    <option value="Grandchild">Grandchild</option>
                    <option value="cousin">Cousin</option>
                    <option value="friend">Friend</option>
                   </select>
               </tr>
               <tr formGroupName="mobNo2">
                   <td><b>Mob No.2</b></td>
                   <td><input type="text" placeholder="" maxlength="10" name="number" formControlName="number" pattern="[0-9]*"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"></td>
                   <td><input type="text" placeholder="" name="name" formControlName="name" pattern="[A-Za-z ]*"
                    onkeydown="return /[a-zA-Z ]/i.test(event.key)"></td>
                    <select placeholder="" name="relation" formControlName="relation" style="width: 100%; height: 30px;">
                        <option value="">Select Relation</option>
                        <option value="father">Father</option>
                        <option value="Mother">Mother</option>
                        <option value="brother">Brother</option>
                        <option value="sister">Sister</option>
                        <option value="Grandparent">Grandparent</option>
                        <option value="Grandchild">Grandchild</option>
                        <option value="cousin">Cousin</option>
                        <option value="friend">Friend</option>
                       </select>               </tr>
               <tr formGroupName="mobNo3">
                   <td><b>Mob No.3</b></td>
                   <td><input type="text" placeholder="" maxlength="10" name="number" formControlName="number" pattern="[0-9]*"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"></td>
                   <td><input type="text" placeholder="" name="name" formControlName="name" pattern="[A-Za-z ]*"
                    onkeydown="return /[a-zA-Z ]/i.test(event.key)"></td>
                    <select placeholder="" name="relation" formControlName="relation" style="width: 100%; height: 30px;">
                        <option value="">Select Relation</option>
                        <option value="father">Father</option>
                        <option value="Mother">Mother</option>
                        <option value="brother">Brother</option>
                        <option value="sister">Sister</option>
                        <option value="Grandparent">Grandparent</option>
                        <option value="Grandchild">Grandchild</option>
                        <option value="cousin">Cousin</option>
                        <option value="friend">Friend</option>
                       </select>               </tr>
               <tr formGroupName="landlineNo1">
                   <td><b>Landline No.1</b></td>
                   <td><input type="text" placeholder="" maxlength="10" name="number" formControlName="number" pattern="[0-9]*"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '')" ></td>
                   <td><input type="text" placeholder="" name="name" formControlName="name" pattern="[A-Za-z ]*"
                    onkeydown="return /[a-zA-Z ]/i.test(event.key)"></td>
                    <select placeholder="" name="relation" formControlName="relation" style="width: 100%; height: 30px;">
                        <option value="">Select Relation</option>
                        <option value="father">Father</option>
                        <option value="Mother">Mother</option>
                        <option value="brother">Brother</option>
                        <option value="sister">Sister</option>
                        <option value="Grandparent">Grandparent</option>
                        <option value="Grandchild">Grandchild</option>
                        <option value="cousin">Cousin</option>
                        <option value="friend">Friend</option>
                       </select>
                    </tr>
           </table>
           <br>
           <!-- <p><b>Remarks : </b><input type="text" placeholder=" "><br><input type="text" placeholder=" "><br><input type="text" placeholder=""><br><input type="text" placeholder=""><br><input type="text" placeholder=""></p> <br><br><br> -->
           <label for="remarks"><b>Remarks :</b></label><br>
           <textarea name="remarks" id="nk" cols="20" rows="10" style="width: 100%; " formControlName="remarks"></textarea>
           <br>
           <div class="form-row">
               
               <input type="file" [hidden]="hideChoose1" (change)="selectFile1($event)" style="padding-left: 70%;">
               <div class="image-wrapper" >
                   <img [src]="url1" [hidden] = "hideButton1" alt="Selected image" style="padding-left: 69%;">
                   <button [hidden]="hideButton1"(click)="removeImage1()">×</button>
               </div>
               <p style="position:relative; left: 69% ; "><b>Signature of Counsellor</b></p>
             </div>

           <button type="submit" [disabled]="!formData.valid">Save</button>
           <br>
           <div id="b1">
               <a [routerLink]="['../first', { addictName: formData.get('addictname')?.value }]"  style="text-decoration: none; color:black; background-color: rgb(255, 252, 252);display: inline-block; vertical-align: top;"><b>P</b></a> 
                <b id="b2" style="text-decoration: none; color:black; background-color: rgb(243, 237, 237);display: inline-block; vertical-align: top;">2</b>
               <a [routerLink]="['../third', { addictName: formData.get('addictname')?.value }]" style="text-decoration: none; color:black; background-color: rgb(255, 252, 252); display: inline-block; vertical-align: top;"><b>N</b></a> 
          </div>
       </div>
   </form>
   </div>
</body>
